.vc_col-lg-2_5, .vc_col-lg-8, .col-md-4, .col-md-6 {
	position:relative;
	min-height:1px;
	padding-left:15px;
	padding-right:15px;
	box-sizing:border-box;
} .carousel-inner .item .image { background-position: center 65%;
} .carousel-inner .item.content_vertical_middle .slider_content {
	position: relative;
	top: 17%;
	vertical-align: top;
} .interactive-pie-chart-image {
	max-width: 100px;
	max-height: 100px;
} #back_to_top>span { border-radius: 100%;
} .footer_top a img { max-width: 45%;
} ul li.Inf {
	font: 900 14px Lato, sans-serif;
	padding-top: 12px !important;
} .footer_top a { line-height: 35px;
} .footer_top li.Adr a { line-height: 24px;
} p.Propos, p.Props { text-align: justify;
} p.Propos { padding-top: 10px;
} span.nwIco {
	background-color: rgba(255, 255, 255, .06);
	border-width: 0px !important; 
	border-style: solid;
	margin: 0 2px 2px 0;
	line-height:55px;
	width:55px;
	height:55px;
} div.nwLn {
	border-bottom: 2px solid #ff0313;
	width:35px;
	margin-top:15px;
	margin-bottom:8px;
} #back_to_top > span, .qbutton,
 .testimonials.testimonials_carousel.testimonial_type_carousel .slides>li .top_color_holder,
 .testimonials_holder .testimonial_type_carousel .testimonial_slider_pager a.selected, .testimonials_holder .testimonial_type_carousel .testimonial_slider_pager.button_with_border a.selected { background-color: #ff0313 !important;
} nav.vertical_menu > ul > li.active > a,
  nav.vertical_menu > ul > li.active > a .menu_icon,
  nav.vertical_menu > ul > li.active > a:hover,
  nav.vertical_menu > ul > li.active > a:hover .menu_icon,
  nav.vertical_menu > ul > li > a:hover,
  nav.vertical_menu > ul > li > a:hover .menu_icon,
  .footer_bottom_holder_inner ul li a:hover, nav.mobile_menu ul li.active > a,
  .fa.fa-angle-left:hover, .fa.fa-angle-right:hover { color: #ff0313;
} .fa-angle-right, .fa-angle-left, .fa-angle-left:hover, .fa-angle-right:hover { transition: all .3s ease-out;
} .custom_font_holder p { color: #FFF !important;
} .Pictr { padding-top: 35px; 
} .PrtTop, .ShowNin { display: none;
} .testimonials_holder .testimonial_type_carousel .testimonial_type_carousel_text_holder {
	border-top: 1px solid #e9e9ea;
	border-bottom: none;
} .testimonials_holder .testimonial_type_carousel .testimonial_type_carousel_triangle {
	transform: rotate(133deg);
    top: -13px;
}  .testimonials_holder .testimonial_type_carousel .testimonial_text { font-size: 16px;
} .wpb_content_element.Neutre { margin-bottom: 30px !important;
} .PrtTop li a span {
	background-color: #FFF;
	width:  16px;
	height: 16px;
	line-height: 17px;
	color: #ff0313;
	text-align: center;
	font-size: 13px;
	border-radius: 100%;
	margin-right: 3px;
} .PrtTop li a span.fa-envelope { font-size: 11px;
} .PrtTop li a {
	color: #FFF;
	font: 600 12px "Lato";
	letter-spacing: .4px;
} .mobile_menu_button {
	position: relative;
    top: 4px;
} em { font-style: normal;
} strong {
	font-weight: 100;
	color: #000;
} p.Propos strong { color: #FFF;
} .NuN { display: none;
} span.Favicon img {
	max-width: 40px;
    height: 40px;
} .portfolio_main_holder.projects_masonry_holder .item_holder .project_category {
	color: #ff0313 !important;
	font-weight: 700 !important;
} .mkd_carousels .slides img { width: 80%;
} ul.slides li.item {
	text-align: center;
} .PkQanto p {
	color: #000 !important;
	font-family: Lato !important;
	font-weight:  700 !important;
} .slide_content p {
	font-size: 20px;
	text-align: justify;
	line-height: 30px;
}

/* Services */
.blog_holder.masonry article .post_text .post_text_inner { padding: 20px 22px !important;
} .blog_holder.masonry article .post_text h4 {
	margin-bottom: 10px;
	text-align: center;
} p.post_excerpt { text-align: justify;
} .blog_holder.masonry article { border-radius: 4px;
} .blog_holder article .post_image li a img { height: 195px;
} .title_holder .title_subtitle_holder .subtitle span.wrap { display: block;
} .title_holder .title_subtitle_holder span.subtitle  { line-height: 28px;
} .blog_holder.masonry article:not(.format-quote):not(.format-link) h2 {
	text-align: center;
	font-size: 16px;
	line-height: inherit;
	letter-spacing: 1px;
} .wpb_wrapper h3 { font-size: 17px;
} p.counter_title {
	font: 700 17px 'Lato';
	text-transform: uppercase;
	color: #000;
} .blog_holder article h2:hover a { color: #ff0313;
} .vertical_menu_width_290 .title.has_background {
	background-size:1920px auto !important;
	background-image: url('https://burst.qodeinteractive.com/burst2/wp-content/uploads/2015/09/title-image.jpg') !important;
	height:295px !important;
}

/* Contact */
.mapouter, .gmap_canvas, iframe { height: 100%;
} iframe { width: 100%; }

/* Creation site web sce */
.latest_post a img { width: 85%;
} .two_columns_66_33>.column2>.column_inner { padding: 0 0 0 15px;
} .blog_holder .post_date_title_holder h2, .blog_single.blog_standard_type .post_content { padding-left: 0;
} .Txt p {
	text-align: justify;
	font-size: 17px;
} .fa-quote-right {
	font-size: 30px;
    padding-right: 20px;
} .blog_single>article { border: none; 
} .Txt p a:hover { text-decoration: underline;
} .Txt p a {
	color: #ff0313;
} aside.sidebar .widget>h3 {
	font: 700 14px 'Lato';
	text-transform: uppercase;
	color: #ff0313;
	background-color: #f3f3f4;
	padding: 15px 20px;
	margin-bottom: 18px;
} aside.sidebar .widget .tagcloud a, .widget .tagcloud a {
	font-size: 11px !important;
	padding: 0 12px;
} aside.sidebar .widget .tagcloud a:hover, .widget .tagcloud a:hover {
	background-color: #ff0313;
	border-color: #ff0313;
} h2.TitPrcgn {
	text-align: center;
} .widget.mkd-latest-posts-widget .latest_post_holder.image_in_box .latest_post_text {
	padding-left: 0;
} .blog_holder .post_date_title_holder h2 {
	font-size: 19px;
} .blog_holder article:not(.format-audio) .post_image {
	margin-bottom: 30px;
} .blog_holder .post_date_title_holder {
	padding-bottom: 5px;
} .social_share_holder:hover .social_share_title, .social_share_holder:hover i.fa-share-alt, .blog_holder article .post_info .blog_share .social_share_dropdown ul li a:hover span.fa {
	color: #ff0313;
} blockquote h4 { font-size: 19px;
} .UlLi ul { padding-top: 15px;
} .UlLi ul li {
	padding: 0 20px 2px;
	font-size: 17px;
}


/* Pricing */
.pricingTable {
    text-align: center;
    background-color: #fff;
    margin: 0 -7px;
    box-shadow: 0 0 35px -5px rgb(0 0 0 / 20%);
    padding-bottom: 30px;
    border-radius: 10px;
    color: #cad0de;
    transition: all .5s ease 0s
} .pricingTable .pricingTable-header {
    padding: 25px 0 30px;
    background: #f5f6f9;
    border-radius: 10px 10px 50% 50%;
    transition: all .5s ease 0s
} .pricingTable:hover .pricingTable-header {
    background: #ff9624
} .pricingTable .pricingTable-header i {
    font-size: 50px;
    color: #858c9a;
    margin-bottom: 10px;
    transition: all .5s ease 0s
} .pricingTable .price-value {
    font-size: 35px;
    font-weight: 700;
    color: #ff9624;
    transition: all .5s ease 0s
} .pricingTable .month {
    display: block;
    font-size: 16px;
    color: #cad0de;
	text-transform: capitalize;
	display: block;
    padding: 12px 0 16px;
} .pricingTable:hover .month, .pricingTable:hover .price-value,
.pricingTable:hover .pricingTable-header i { color: #fff
} .pricingTable .heading {
    font-size: 22px;
    color: #ff9624;
    // margin: 10px 0 15px;
    text-transform: uppercase
} .pricingTable .pricing-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 20px;
} .pricingTable .pricing-content ul li {
    line-height: 30px;
    color: #a7a8aa
} .pricingTable .pricingTable-signup a {
    display: inline-block;
    font: 700 13px 'Lato';
    color: #fff;
    padding: 12px 30px;
    border-radius: 20px;
    background: #ffa442;
    text-transform: uppercase;
    transition: all .3s ease 0s
} .pricingTable .pricingTable-signup a:hover { box-shadow: 0 0 10px #ffa442
} .pricingTable.red .heading { color: #ff0313
} .pricingTable.red .pricingTable-signup a, .pricingTable.red:hover .pricingTable-header { background: #ff0313
} .pricingTable.red .pricingTable-signup a:hover { box-shadow: 0 0 10px #ff0313
} .pricingTable.red:hover .price-value, .pricingTable.red:hover .heading { color: #fff
} .pricingTable.red.midju { transform: scale(1.05);
} .blog_holder article .post_info .blog_share .social_share_dropdown ul li a span.fa { font-family: 'FontAwesome' !important;
} body:not(.single-post) .blog_holder.blog_standard_type .post_info div:last-child { float: left;
} .blog_single.blog_standard_type article .post_info {
	margin: 0 0 20px;
	text-transform: uppercase;
	font: 700 13px 'Lato';
} body:not(.single-post) .blog_holder.blog_standard_type .blog_share i.fa-share-alt { display: inline-block !important; 
} .pricingTable.red .price-value { color: #000;
} ::selection {
    background: #ff0313;
    color: #fff;
}

/* Form Devis */
form input, form textarea, form select, form .vc_col-lg-6 span {
	width: -webkit-fill-available;
	padding: 9px 16px;
	border: none;
	border-radius: 25px;
	background-color: #f2f2f2;
	outline: none;
	font: 700 14px 'Lato';
	color: #000;
} form select option { font: 700 14px 'Lato';
} form select { 
	color: #999;
	padding: 8px 12px;
} form .vc_col-lg-6, form .vc_col-lg-3, form .vc_col-lg-4 { margin: 0 0 25px;
} form .vc_col-lg-12 { margin: 0 0 15px;
} form textarea { height: 100px;
} form input[type='button'] {
	background-color: #ff0313;
	text-transform: uppercase;
	font-size: 13px;
	color: #FFF;
	transition: .3s;
	cursor: pointer;
} form input[type='button']:hover {
	background-color: #000;
	border-color: #ff0313;
	transition: .3s;
} ::placeholder { color: #666;
} .Err::placeholder, .Err { color: #ff0313;
} input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none;
} input[type=number] { -moz-appearance: textfield;
} form label {
	font: 700 14px 'Lato';
	padding-left: 12px;
	color: #000;
} form label.Fm {
	display: flex;
	align-items: center;
	padding: 32px 12px 0;
	cursor: pointer;
	position: relative;
} form label input[type='radio'] {
	opacity: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
} form label .design {
	width: 16px;
	height: 16px;
	border: 2px solid #000;
	border-radius: 100%;
	position: relative;
} form label .design::before {
	content: "";
	display: block;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	position: absolute;
	right: -1; bottom: -1;
	transform: scale(0);
	transform-origin: center center;
} form label .design:before {
	background: #ff0313;
	opacity: 0;
	transition: .3s;
} form label input:checked+.design::before {
	opacity: 1;
	transform: scale(.6);
} form .cv_2 { padding-left:  3px;
} form .cv_1 { padding-right: 3px;
} form .vc_col-lg-6 span {
	font: 700 14px 'Lato';
	display: inline-block;
	cursor: pointer;
	color: #999;
} i { font-style: normal;
} .courage { padding-top: 30px;
} form label span.Fe { padding-left: 10px;
} img.Pict {
	position: relative;
    top: 103px;
	max-width: 92%;
} .BtmPding { padding-bottom: 60px;
} .fa.ios {
	background-color: rgba(0, 0, 0, .25);
	width: 30px;
    height: 30px;
	border-radius: 50%;
    line-height: 30px;
}

/* A Propos */
.HeadH3 h3 {
	font-size: 14px;
	text-align: left;
	padding: 20px 0 10px;
} .title_holder .title_subtitle_holder .subtitle span {
	display: initial;
}

@media (min-width: 1200px) {
	.vc_col-lg-6  { width: 50%;  }
	.vc_col-lg-3  { width: 25%;  }
	.vc_col-lg-12 { width: 100%; }
	.vc_col-lg-6, .vc_col-lg-12, .vc_col-lg-3  {
		float: left;
		position: relative;
		padding-left: 15px;
		padding-right: 15px;
		box-sizing: border-box;
	}
	.vc_col-lg-8 { 
		width: 66.66666666%;
		float: left;
	} .vc_col-lg-2_5 {
		width: 20%;
		float: left;
	} .vc_col-lg-4 {
		float: left;
		width: 33.33333333% !important;
	}
}
@media (max-width: 1200px) {
	.vc_col-lg-4 {
		float: left;
		width: 33.33333333% !important;
	}
}
@media(max-width: 992px){
    .col-md-6 { 
		float: left;
		width: 50% !important;
	} .two_columns_66_33>.column1 { width: 100%;
	} .chute { display: none;
	} .mkd_logo a {
		visibility: visible;
	} .fa-bars { color: #000;
	} .logo_wrapper, .mobile_menu_button { height: auto !important;
	} .header_bottom { padding: 5px 10px 14px;
	} header .mkd_logo img.mobile {
		width: 100px !important;
		height: 40px !important;
	} .PrtTop { background-color: #ff0313;
	} .PrtTop ul {
		padding: 0;
		display: flex;
		justify-content: space-between;
		padding: 2px 10px 3px;
	} .PrtTop ul li { list-style: none;
	} .carousel-inner .item.content_vertical_middle .slider_content { vertical-align: middle;
	} .carousel-inner h2 span { font-size: 26px;
	} .carousel-inner h3 span { font-size: 17px;
	} nav.mobile_menu ul li a {
		font-size: 12px;
		line-height: 18px;
		padding: 5px 0;
		border-bottom: 1px solid rgba(0, 0, 0, .1);
	} nav.mobile_menu ul li:first-child { padding-top: 15px;
	} .RWD { margin-top: 0 !important;
	} .mkd_icon_holder { bottom: -25px !important;
	} .wpb_text_column p { font-size: 15px;
	} .qbutton.small.fill_from_bottom { font-size: 12px;
	} .sprt { margin-top: 40px !important;
	} .interactive-pie-chart figcaption {
		width:  80px;
		height: 30px;
		line-height: 30px;
	} svg circle {
		cx: 110 !important;
		cy: 80 !important;
		r: 70 !important;
	} .interactive-pie-chart-image {
		max-width: 80px;
		max-height: 80px;
	} .content h2 { font-size: 21px;
	} .Pop { padding-top: 35px !important;
	} .Marker h4 span { font-size: 17px !important;
	} .Marker h4 { line-height: 28px;
	} .Marker {
		padding-bottom: 16px !important;
		padding-top: 12px !important;
	} .Wdr { margin-top: 70px !important;
	} .JJ { margin-top: 10px !important;
	} .projects_masonry_holder.masonry_with_padding .portfolio_masonry_item { padding: 2px 5px;
	} .Azerty { padding-bottom: 25px !important;
	} .ytrezA {
		padding-bottom: 10px !important;
		padding-top: 50px !important;
	} .Qwerty .transparent { margin-top: 30px !important;
	} .Qwerty .Wert { margin-bottom: 5px !important;
	} .footer_top.footer_top_full { padding: 40px 20px 5px;
	} p.Propos {
		font-size: 15px;
		padding-top: 25px;
	} .footer_top .four_columns .column1, .footer_top .column_inner>div { margin-bottom: 0 !important;
	} .footer_top ul { text-align: left;
	} #back_to_top>span {
		width: 40px;
		height: 40px;
		line-height: 40px;
	} #back_to_top, #back_to_top.on {
		bottom: 25px;
		right: 20px;
	} .PrtTop, .NuN { display: block;
	} .Pictr {
		padding-top: 0;
	} .Null .transparent {
		margin-top: 105px !important;
	} .testimonials_holder .testimonial_type_carousel .testimonial_text {
		padding: 20px 10px 10px;
		font-size: 14px;
	} .four_columns>.column1, .four_columns>.column2, .four_columns>.column3, .four_columns>.column4 {
		width: 50% !important;
		min-height: 300px !important;
	} .footer_top a img { max-width: 40%;
	} .ShowNin { display: block; 
	} .vertical_menu_width_290 .title.has_background { height: 235px !important;
	} .blog_holder article .post_image li a img { height: 220px;
	} .pricingTable .heading { font-size: 19px;
	} .pricingTable .price-value { font-size: 26px;
	} .opi { padding-top: 15px;
	}  form label.Fm, form .cv_2 { padding: 0;
	} .Opoo .Null { display: none; }
}
@media(max-width: 768px) {
	.Null { display: none;
	} .footer_top .textwidget { margin: 5px 0;
	} .four_columns>.column1, .four_columns>.column2, .four_columns>.column3, .four_columns>.column4 {
		width: 100% !important;
		min-height: 225px !important;
	} .footer_top a img { max-width: 20%;
	} li.item { width: 335px !important;
	} .content .content_inner>.container>.container_inner.default_template_holder { padding-top: 0 !important;
	} #back_to_top, #back_to_top.on {
		bottom: 15px;
		right: 10px;
	} .disparu { display: none !important;
	} .vertical_menu_width_290 .title.has_background { height: 215px !important;
	} .blog_holder.masonry article:not(.format-quote):not(.format-link) h2 { font-size: 15px; 
	} .blog_holder article .post_image li a img { height: 170px;
	} .title_holder .title_subtitle_holder .subtitle span.wrap { display: none;
	} .blog_holder .post_date_title_holder h2 { font-size: 17px; 
	} .two_columns_66_33>.column2 { width: 100%;
	} .lNo .content .content_inner > .full_width > .full_width_inner { padding-top: 0 !important;
	} .lNo .vc_row.wpb_row.section.grid_section { padding-bottom: 25px !important;
	} .courage { padding-top: 0;
	} .filter_holder.without_separator ul li span { padding: 0 15px 0 0;
	} .Opoo .vc_row.wpb_row.section.grid_section { padding-top: 10px !important;
	} .Opoo .wpb_content_element.wpb_single_image img {
		width: 70px;
		height: 70px;
	} .Opoo .separator.transparent { margin-top: 25px !important;
	} .Opoo .content h2 { font-size: 18px;
	} .Opoo .separator.transparent.Op { margin-top: 0 !important;
	} .Opoo .OpDn { padding-bottom: 50px !important;
	}
}
@media (max-width: 576px) {
	.footer_top a img { max-width: 50%;
	} .footer_top .textwidget { margin: 5px auto;
	} .four_columns>.column1, .four_columns>.column2, .four_columns>.column3, .four_columns>.column4 { min-height: 185px !important;
	} .blog_holder.masonry article { margin-bottom: 10px;
	} .blog_holder article h2 { margin-bottom: 0;
	} .subtitle {
		padding-top: 5px;
		display: block;
	} .title .title_content_background { padding: 0 5px !important;
	} .blog_holder.blog_single article .post_text .post_text_inner { padding: 25px 5px 10px;
	} .blog_holder .post_date_title_holder h2 { font-size: 14px;
	} .UlLi ul li { font-size: 15px; 
	} .social_share_holder a { display: flex;
	} .blog_single.blog_standard_type article .post_info { margin-bottom: 0;
	} .slide_content p { font-size: 17px;
	} .icon_slider_container .icon_slide .slide_content { padding: 8%;
	} .PkQanto p { font-size: 22px !important;
	} .vc_col-sm-12 { width: 100% !important;
	} div.section.Rdw {
		padding-top: 60px !important;
		padding-bottom: 0px !important;
	}
}